

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background: #add0f4;
  margin: 0;
}

header {
  text-transform: uppercase;
  padding: 2px;
  background-color: #0a2323;
  color: #fff;
  border-bottom: 4px solid #1ace0e;
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  /* object-fit: cover; */
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

    